/*Reset de base pour supprimer les marges/paddings par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global */
body {
    font-family: 'Roboto', sans-serif; /* Changement de la police pour un style plus moderne */
    background-color: #000000;
    color: #333;
    line-height: 1.6;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	overflow-x: hidden;
}

/* Conteneur pour centrer le contenu */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Style pour l'en-tête */
header {
    height: 100vh; /* Hauteur de l'en-tête */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



#header-container {
    position: relative; /* Positionnement relatif pour permettre le positionnement absolu des éléments enfants */
    width: 100%;
    height: 100vh; /* Hauteur du viewport pour couvrir toute la fenêtre */
    z-index: -1; /* Derrière les autres éléments */
	transform: translateX(-150px);
}

#threejs-container {
	transform : translate(100px, 100px);
	border-radius: 50px;
	border: 2px solid #ffffff; /* Bordure blanche autour des cartes */
	overflow: hidden;
	min-width: 250px; /* Largeur minimale pour les petites résolutions */
    max-width: auto; /* Largeur maximale pour limiter la taille des cartes */
}



/* Navigation */
/* Styles généraux */
/* Liens en haut à droite */
/* Style pour le conteneur des liens */

/* Style pour la liste des liens */
.nav-right ul {
	position: absolute;
    list-style: none; /* Supprime les puces des listes */
    padding: 0; /* Supprime le padding par défaut */
    margin: 0; /* Supprime la marge par défaut */
    display: flex; /* Utilise Flexbox pour disposer les éléments */
    flex-direction: column; /* Dispose les éléments en colonne */
    gap: 10px; /* Espace entre les éléments de la liste */
    text-align: right; /* Aligne le texte à droite */
	top : 0%;
	right: 0%;
}

/* Style pour les éléments de liste */
.nav-right li {
    margin: 0; /* Supprime la marge des éléments de liste */
}

/* Style pour les liens */
.nav-right a {
    color: white; /* Couleur du texte des liens */
    text-decoration: none; /* Supprime la sous-ligne des liens */
    font-weight: bold; /* Rend le texte en gras */
    padding: 5px 10px; /* Ajoute du padding autour du texte */
    display: block; /* Permet de cliquer sur toute la zone autour du texte */
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour améliorer la lisibilité */
    border-radius: 5px; /* Coins arrondis pour le fond */
    transition: background-color 0.3s; /* Transition douce pour le changement de couleur de fond */
}

/* Effet au survol des liens */
.nav-right a:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Couleur de fond plus sombre au survol */
}


/* Liens centrés en haut */
.nav-center ul {
	position: fixed;
    list-style: none;
    padding: 0;
    margin: 0; /* Supprime la marge par défaut */
    display: flex; /* Utilise Flexbox pour disposer les éléments horizontalement */
    justify-content: flex-start; /* Aligne les éléments au début (gauche) */
    gap: 20px; /* Espace entre les éléments */
    flex-wrap: nowrap; /* Empêche les éléments de se réorganiser en colonne */
    overflow: auto; /* Permet le défilement horizontal si nécessaire */
	top : 5%;
	left : 35%;
	z-index: 4;
	transition: opacity 0.3s, transform 0.3s; /* Transitions douces pour l'opacité et la transformation */
    opacity: 1; /* Opacité initiale (visible) */
    transform: translateY(0); /* Position initiale */
}

.nav-center.hidden {
    opacity: 0; /* Cacher la barre de navigation */
    transform: translateY(-100%); /* Déplacer la barre de navigation hors de la vue */
}

/* Style pour les éléments de liste */
.nav-center li {
    margin: 0; /* Supprime la marge des éléments de liste */
}

/* Style pour les liens */
.nav-center li a {
    text-decoration: none; /* Supprime la sous-ligne des liens */
    color: #ffffff; /* Couleur du texte */
    padding: 10px 20px; /* Padding autour du texte */
    background-color: #000000; /* Couleur de fond des liens */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Transition douce */
}



h1 {
    font-size: 5em;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8); /* Ombre bleue pour créer un effet de contour */
	z-index: 2;
	position: absolute;
	transform: translateY(-700px);
	left: 30%;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 3.5em;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8); /* Ombre bleue pour créer un effet de contour */
    margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

/* Conteneur des cartes */
.cards-container {
    display: flex; /* Utilise Flexbox pour aligner les cartes en ligne */
    gap: 10px; /* Espacement entre les cartes */
    padding: 20px;
    flex-wrap: wrap; /* Permet aux cartes de se replier sur la ligne suivante sur les petits écrans */
    justify-content: center; /* Centre les cartes horizontalement */
    /* transform: translateY(50px); */
}

/* Style des cartes */
.card {
    background-color: #282828; /* Couleur de fond des cartes */
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ffffff; /* Bordure blanche autour des cartes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile pour un effet 3D */
    flex: 1; /* Permet aux cartes de prendre la même largeur */
    min-width: 250px; /* Largeur minimale pour les petites résolutions */
    max-width: 300px; /* Largeur maximale pour limiter la taille des cartes */
    text-align: center;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
    color: #ffffff;
	text-decoration: underline;
}

.card h4 {
	font-size: 1.5em;
	margin-bottom: 5px;
	color: #ffffff;
	text-decoration: underline;
}

.card h5 {
	font-size: 1.5em;
	margin-bottom: 5px;
	color: #ffffff;
	text-decoration: underline;
}

.card p {
    font-size: 1em;
    color: #666;
}

h3 .icon {
	width: 24px;
	height: 24px;
	margin-left: 8px;
	transform: translateY(4.5px);
}

.icon {
    width: 24px; /* Largeur souhaitée pour toutes les icônes */
    height: 24px; /* Hauteur souhaitée pour toutes les icônes */
    margin-left: 8px; /* Espace entre l'icône et le texte */
    transform: translateY(4.5px); /* Ajustement vertical pour aligner les icônes avec le texte */
}

h4 .icon {
	width: 24px;
	height: 24px;
	margin-left: 8px;
	transform: translateY(4.5px);
}

h5 .icon {
	width: 24px;
	height: 24px;
	margin-left: 8px;
	transform: translateY(4.5px);
}

.custom-paragraphe {
	margin-top: 30px !important;
	color: #fff !important;
}

/* Style pour le pied de page */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
    font-size: 0.9em;
}

footer .socials {
    margin-top: 10px;
}

footer .socials a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
	transform: translateY(-200px);
}

footer .socials a:hover {
    color: #a3bffa;
}


/* Style pour le conteneur vidéo */
#videoContainer {
    display: none; /* Cache le conteneur vidéo par défaut */
    position: relative; /* Nécessaire pour positionner le bouton de fermeture */
}

/* Style lorsque la vidéo est en plein écran */
#videoContainer.fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Fixe la position pour qu'il reste en place même lors du défilement */
    top: 0;
    left: 0;
    width: 100vw; /* Prend toute la largeur de la vue */
    height: 100vh; /* Prend toute la hauteur de la vue */
    background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
    z-index: 1000; /* Assure que le conteneur est au-dessus des autres éléments */
}

/* Style pour la vidéo */
#myVideo {
    width: 90vw; /* Légèrement plus petit que la largeur de la vue */
    height: 90vh; /* Légèrement plus petit que la hauteur de la vue */
}

/* Style pour le bouton */
#showVideoBtn {
		background-color: rgba(14, 2, 125, 0);
		/* background-color: #0e027d; */
		color: #fff;
		border: none;
		padding: 70px 160px;
		border-radius: 5px;
		cursor: pointer;
		font-size: 1em;
		margin-top: 20px;
		transform: translate(150px, -730px);
}

/* Bouton de fermeture */
.close-btn {
    position: absolute; /* Positionné relativement au conteneur de la vidéo */
    font-size: 30px; /* Taille du texte pour le bouton de fermeture */
	top : 10px;
	right : 10px;
    color: #ffffff; /* Couleur du texte */
	background-color: #000000;
    border: none; /* Enlève les bordures par défaut du bouton */
    width: 40px; /* Largeur du bouton */
    height: 40px; /* Hauteur du bouton */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Curseur pointer pour indiquer que c'est cliquable */
	transform: translate(-40px, 50px);
}


.jeux {
	width: 40%;
    display: flex; /* Utilisation de Flexbox pour centrer le contenu */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    padding: 20px; /* Espace autour du conteneur */
    min-height: 300px; /* Hauteur minimale pour le conteneur */
}

#videoJeux {
    text-align: center; /* Centre le texte */
    border-radius: 30px;
    border: 2px solid #ffffff; /* Bordure blanche */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    padding: 20px; /* Espace interne */
    background-color: #333; /* Couleur de fond pour contraster avec la bordure */
	transform: translate(700px, -720px);
}


h6 {
    font-size: 1.5em; /* Taille du texte du titre */
    color: #000000; /* Couleur du texte */
    text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8); /* Ombre bleue pour créer un effet de contour */
    margin-bottom: 10px; /* Espacement sous le titre */
}

/* Style pour la description */
p {
    font-size: 1em; /* Taille du texte de la description */
    color: #ffffff; /* Couleur du texte */
    line-height: 1.6; /* Espacement entre les lignes pour une meilleure lisibilité */
	text-align: left;
}

#unity-texte {
	font-size: 2.5em; /* Taille du texte de la description */
	color: #ffffff; /* Couleur du texte */
	line-height: 1.6; /* Espacement entre les lignes pour une meilleure lisibilité */
	text-align: left;
}

#unity-texte h3 .icon {
	transform: translate(100px, -570px);
	width: 280px;
	height: 150px;
}

#ecole42-container {
    background-color: #404040;
    margin: 0 auto; /* Centrer le conteneur horizontalement */
    border-radius: 50px;
    border: 2px solid #ffffff; /* Bordure blanche autour des cartes */
    display: flex;
    flex-direction: column; /* Aligner les éléments verticalement */
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-450px); /* Réinitialiser la transformation si elle crée un espace vide */

    /* Hauteur et largeur initiales avec flexibilité */
    width: 85%; /* Largeur par défaut */
    max-width: 1200px; /* Largeur maximale pour éviter une extension excessive */
    min-width: 300px; /* Largeur minimale pour éviter que le conteneur ne devienne trop étroit */
    height: 90vh; /* Hauteur automatique en fonction du contenu */
}

.image42 {
    width: 100px; /* Prend toute la largeur du conteneur */
    height: auto; /* Hauteur automatique pour garder le ratio */
}

#ecole42-container h2 {
    color: #000000; /* Couleur du texte */
    text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8); /* Ombre bleue pour créer un effet de contour */
    text-align: right; /* Centrer le texte */
    font-size: 2.5em; /* Ajuste la taille du texte pour être responsive */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300; /* Rend le texte plus léger */
    margin: 0; /* Enlève les marges pour un ajustement fluide */
	margin-right: 19%;
}

#ecole42-container h3 {
    color: #ffffff; /* Couleur du texte */
    text-align: left; /* Aligne le texte à gauche */
    font-size: 1.5em; /* Ajuste la taille du texte pour être responsive */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300; /* Rend le texte plus léger */
    margin: 10px 0; /* Ajoute une marge verticale pour espacer les titres */
	margin-left: 70%;
}

.button {
    color: #000000; /* Couleur du texte en noir */
    text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8); /* Ombre bleue pour créer un effet de contour */
    border: none;
    padding: 10px 20px; /* Padding pour une meilleure surface cliquable */
    border-radius: 5px; /* Arrondir les coins du bouton */
    cursor: pointer;
    font-size: 1.1em; /* Ajuste la taille de la police */
    text-decoration: underline;
    background-color: #404040;
    margin: -30px 0; /* Ajoute une marge verticale pour espacer les boutons */
}

#ecole42-container h4 {
    color: #ffffff; /* Couleur du texte */
    text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8); /* Ombre bleue pour créer un effet de contour */
    text-align: justify; /* Justifie le texte */
    font-size: 1.2em; /* Ajuste la taille du texte pour être responsive */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300; /* Rend le texte plus léger */
    padding: 10px;
    margin: 10px auto; /* Centre le texte et ajoute une marge verticale */
    width: 60%; /* Largeur du texte en pourcentage du conteneur */
    box-sizing: border-box;
	margin-right: 37%;
	transform: translateY(-200px);
}


#description_minishell {
	color: #ffffff; /* Couleur du texte */
	text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8); /* Ombre bleue pour créer un effet de contour */
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 20; /* Makes the text thinner */
	max-width: 40%;
	margin-right: auto; /* Laisser l'espace restant à droite */
	opacity: 0;
    transition: opacity 1s ease-in-out;
}

#description_minishell p {
	text-align: justify;
}

#description_minishell.show {
    opacity: 1;
}

#description_minishell nav ul {
    list-style: none; /* Enlève les puces */
    padding: 0; /* Enlève le padding par défaut */
    position: relative; /* Positionnement absolu */
    display: flex; /* Utilise Flexbox */
    flex-direction: row; /* Aligne les éléments en ligne (horizontalement) */
    justify-content: flex-start; /* Aligne les éléments à droite */
    left: 0; /* Aligne le conteneur UL à droite */
	margin-bottom: 10%;
	transform: translateY(50px); /* Déplace l'image vers le bas */

}

#description_minishell nav ul li a .icon{
	width: 18px; /* Largeur de l'icône */
	height: auto; /* Hauteur automatique pour garder les proportions */
	margin-left: 8px; /* Espace entre l'icône et le texte */
	transform: translateY(5px); /* Déplace l'image vers le bas */
}

#description_minishell nav ul li a {
	text-decoration: none; /* Enlève le soulignement des liens */
    color: #ffffff; /* Couleur du texte */
    padding: 10px 20px; /* Padding pour plus de surface cliquable */
    background-color: #1e1e1e; /* Couleur de fond des liens */
    border-radius: 500px; /* Coins arrondis */
	font-size: small;
}

#description_cub3d {
	color: #ffffff; /* Couleur du texte */
	text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8); /* Ombre bleue pour créer un effet de contour */
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 20; /* Makes the text thinner */
	max-width: 40%;
	margin-right: auto; /* Laisser l'espace restant à droite */
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

#description_cub3d p {
	text-align: justify;
}

#description_cub3d.show {
	opacity: 1;
}

#description_cub3d nav ul {
    list-style: none; /* Enlève les puces */
    padding: 0; /* Enlève le padding par défaut */
    position: relative; /* Positionnement absolu */
    display: flex; /* Utilise Flexbox */
    flex-direction: row; /* Aligne les éléments en ligne (horizontalement) */
    justify-content: flex-start; /* Aligne les éléments à droite */
    left: 0; /* Aligne le conteneur UL à droite */
	margin-bottom: 10%;
	transform: translateY(50px); /* Déplace l'image vers le bas */
	
}

#description_cub3d nav ul li a .icon{
	width: 18px; /* Largeur de l'icône */
	height: auto; /* Hauteur automatique pour garder les proportions */
	margin-left: 8px; /* Espace entre l'icône et le texte */
	transform: translateY(5px); /* Déplace l'image vers le bas */
}

#description_cub3d nav ul li a {
	text-decoration: none; /* Enlève le soulignement des liens */
    color: #ffffff; /* Couleur du texte */
    padding: 10px 20px; /* Padding pour plus de surface cliquable */
    background-color: #1e1e1e; /* Couleur de fond des liens */
    border-radius: 500px; /* Coins arrondis */
	font-size: small;
}

#description_Solong {
	color: #ffffff; /* Couleur du texte */
	text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8); /* Ombre bleue pour créer un effet de contour */
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 20; /* Makes the text thinner */
	max-width: 40%;
	margin-right: auto; /* Laisser l'espace restant à droite */
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

#description_Solong p {
	text-align: justify;
}

#description_Solong.show {
	opacity: 1;
}

#description_Solong nav ul {
    list-style: none; /* Enlève les puces */
    padding: 0; /* Enlève le padding par défaut */
    position: relative; /* Positionnement absolu */
    display: flex; /* Utilise Flexbox */
    flex-direction: row; /* Aligne les éléments en ligne (horizontalement) */
    justify-content: flex-start; /* Aligne les éléments à droite */
    left: 0; /* Aligne le conteneur UL à droite */
	margin-bottom: 10%;
	transform: translateY(50px); /* Déplace l'image vers le bas */

}

#description_Solong nav ul li a .icon{
	width: 18px; /* Largeur de l'icône */
	height: auto; /* Hauteur automatique pour garder les proportions */
	margin-left: 8px; /* Espace entre l'icône et le texte */
	transform: translateY(5px); /* Déplace l'image vers le bas */
}

#description_Solong nav ul li a {
	text-decoration: none; /* Enlève le soulignement des liens */
    color: #ffffff; /* Couleur du texte */
    padding: 10px 20px; /* Padding pour plus de surface cliquable */
    background-color: #1e1e1e; /* Couleur de fond des liens */
    border-radius: 500px; /* Coins arrondis */
	font-size: small;
}

#description_pushswap {
	color: #ffffff; /* Couleur du texte */
	text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8); /* Ombre bleue pour créer un effet de contour */
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 20; /* Makes the text thinner */
	max-width: 40%;
	margin-right: auto; /* Laisser l'espace restant à droite */
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

#description_pushswap p {
	text-align: justify;
}

#description_pushswap.show {
	opacity: 1;
}

#description_pushswap nav ul {
    list-style: none; /* Enlève les puces */
    padding: 0; /* Enlève le padding par défaut */
    position: relative; /* Positionnement absolu */
    display: flex; /* Utilise Flexbox */
    flex-direction: row; /* Aligne les éléments en ligne (horizontalement) */
    justify-content: flex-start; /* Aligne les éléments à droite */
    left: 0; /* Aligne le conteneur UL à droite */
	margin-bottom: 10%;
	transform: translateY(50px); /* Déplace l'image vers le bas */

}

#description_pushswap nav ul li a .icon{
	width: 18px; /* Largeur de l'icône */
	height: auto; /* Hauteur automatique pour garder les proportions */
	margin-left: 8px; /* Espace entre l'icône et le texte */
	transform: translateY(5px); /* Déplace l'image vers le bas */
}

#description_pushswap nav ul li a {
	text-decoration: none; /* Enlève le soulignement des liens */
    color: #ffffff; /* Couleur du texte */
    padding: 10px 20px; /* Padding pour plus de surface cliquable */
    background-color: #1e1e1e; /* Couleur de fond des liens */
    border-radius: 500px; /* Coins arrondis */
	font-size: small;
}

#description_philo {
	color: #ffffff; /* Couleur du texte */
	text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8); /* Ombre bleue pour créer un effet de contour */
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 20; /* Makes the text thinner */
	max-width: 40%;
	margin-right: auto; /* Laisser l'espace restant à droite */
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

#description_philo p {
	text-align: justify;
}

#description_philo.show {
	opacity: 1;
}

#description_philo nav ul {
    list-style: none; /* Enlève les puces */
    padding: 0; /* Enlève le padding par défaut */
    position: relative; /* Positionnement absolu */
    display: flex; /* Utilise Flexbox */
    flex-direction: row; /* Aligne les éléments en ligne (horizontalement) */
    justify-content: flex-start; /* Aligne les éléments à droite */
    left: 0; /* Aligne le conteneur UL à droite */
	margin-bottom: 10%;
	transform: translateY(50px); /* Déplace l'image vers le bas */

}

#description_philo nav ul li a .icon{
	width: 18px; /* Largeur de l'icône */
	height: auto; /* Hauteur automatique pour garder les proportions */
	margin-left: 8px; /* Espace entre l'icône et le texte */
	transform: translateY(5px); /* Déplace l'image vers le bas */
}

#description_philo nav ul li a {
	text-decoration: none; /* Enlève le soulignement des liens */
    color: #ffffff; /* Couleur du texte */
    padding: 10px 20px; /* Padding pour plus de surface cliquable */
    background-color: #1e1e1e; /* Couleur de fond des liens */
    border-radius: 500px; /* Coins arrondis */
	font-size: small;
}

#description_minitalk {
	color: #ffffff; /* Couleur du texte */
	text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8); /* Ombre bleue pour créer un effet de contour */
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 20; /* Makes the text thinner */
	max-width: 40%;
	margin-right: auto; /* Laisser l'espace restant à droite */
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

#description_minitalk p {
	text-align: justify;
}

#description_minitalk.show {
	opacity: 1;
}

#description_minitalk nav ul {
    list-style: none; /* Enlève les puces */
    padding: 0; /* Enlève le padding par défaut */
    position: relative; /* Positionnement absolu */
    display: flex; /* Utilise Flexbox */
    flex-direction: row; /* Aligne les éléments en ligne (horizontalement) */
    justify-content: flex-start; /* Aligne les éléments à droite */
    left: 0; /* Aligne le conteneur UL à droite */
	margin-bottom: 10%;
	transform: translateY(50px); /* Déplace l'image vers le bas */

}

#description_minitalk nav ul li a .icon{
	width: 18px; /* Largeur de l'icône */
	height: auto; /* Hauteur automatique pour garder les proportions */
	margin-left: 8px; /* Espace entre l'icône et le texte */
	transform: translateY(5px); /* Déplace l'image vers le bas */
}

#description_minitalk nav ul li a {
	text-decoration: none; /* Enlève le soulignement des liens */
    color: #ffffff; /* Couleur du texte */
    padding: 10px 20px; /* Padding pour plus de surface cliquable */
    background-color: #1e1e1e; /* Couleur de fond des liens */
    border-radius: 500px; /* Coins arrondis */
	font-size: small;
	transform: translateY(500px); /* Déplace l'image vers le bas */
}

/* Responsiveness */


#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    font-size: 24px;
}

.back-button {
    background: url('image/flechegauche.png') no-repeat center center;
    background-size: contain; /* S'assure que l'image s'adapte à la taille du bouton */
    border: none;
    color: #ffffff;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    width: 100px;  /* Largeur du bouton */
    height: 100px; /* Hauteur du bouton */
    transition: color 0.3s ease;
	bottom: 0;
	left: 0;
}


.back-button:hover {
    color: #00aaff;
}

#video_in_description {
    width: 80%; /* Prend toute la largeur du conteneur */
    height: auto; /* Hauteur automatique pour garder le ratio */
    box-shadow: 0 0 5px rgb(255, 255, 255); /* Ombre légère pour la vidéo */
    margin-top: 20px; /* Espacement au-dessus de la vidéo */
	margin-left: 140%;
	transform: translateY(-400px);
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
		/* transform: translateY(450px); */
    }

    .nav-right ul {
        right: 10px; /* Ajuste la distance depuis la droite */
		top: 10%;
    }

    .nav-right nav ul li {
        margin: 10px 0;
    }

    .about h2 {
        font-size: 2.2em;
    }

    .cards-container {
        flex-direction: column; /* Passe en colonne sur les petits écrans */
        align-items: center; /* Centre les cartes */
    }

	.nav-center ul {
        gap: 10px; /* Réduit l'espace entre les éléments sur les petits écrans */
		left : 15%;
    }

    .nav-center li a {
        padding: 8px 16px; /* Réduit le padding des liens sur les petits écrans */
    }

	#header-container {
		position: relative; /* Positionnement relatif pour permettre le positionnement absolu des éléments enfants */
		width: 100%;
		height: 100vh;
		z-index: -1; /* Derrière les autres éléments */
		transform: translateX(40px);
	}
	#ecole42-container {
		height: 110vh;
	}
	#ecole42-container h2 {
		font-size: 1.5em;
		margin-right: 10%;
		transform: translate(-50px, 300px);
	}
	#ecole42-container h3 {
		font-size: 1em;
		margin-left: 65%;
		transform: translate(-50px, 300px);
	}
	#ecole42-container h4 {
		font-size: 0.6em;
		margin-left: 5%;
		width: 90%;
	}
	#description_minishell {
		font-size: 0.7em;
		max-width: 80%;
	}
	#description_cub3d {
		font-size: 0.7em;
		max-width: 80%;
	}
	#description_Solong {
		font-size: 0.7em;
		max-width: 80%;
	}
	#description_pushswap {
		font-size: 0.7em;
		max-width: 80%;
	}
	#description_philo {
		font-size: 0.7em;
		max-width: 80%;
	}
	#description_minitalk {
		font-size: 0.7em;
		max-width: 80%;
	}
	#description_minishell nav ul {
		transform: translateY(250px);
	}
	#description_cub3d nav ul {
		transform: translateY(250px);
	}
	#description_Solong nav ul {
		transform: translateY(250px);
	}
	#description_pushswap nav ul {
		transform: translateY(250px);
	}
	#description_philo nav ul {
		transform: translateY(250px);
	}
	#description_minitalk nav ul {
		transform: translateY(250px);
	}
	#video_in_description {
		transform: translate(-250px, 0px);
	}
	.back-button {
		width: 100px;
		height: 100px;
		transform: translateX(100px);
	}

}


@media (max-width: 480px) {
    .nav-center ul {
        gap: 5px; /* Réduit davantage l'espace entre les éléments */
		left : 5%;
    }

    .nav-center li a {
        padding: 6px 12px; /* Réduit encore le padding des liens */
    }
}