* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* * {
    outline: 1px solid red;
} */

body {
	font-family: 'Roboto', sans-serif;
	background-color: rgb(36,35,43,255);
	color: #333333;
	line-height: 1.6;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	overflow-x: hidden;
	overflow-y: auto;
}

.container {
	/* background-color: #00aaff; */
	z-index: 1;
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
}

header .container {
    /* background-color: #00344e34; */
    background-image: url("image/ilyan.jpg");
    background-size: cover; /* L'image couvre toute la zone */
    background-repeat: no-repeat; /* Empêche la répétition */
    background-position: center; /* Centre l'image dans le conteneur */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
	/* background-color: #00aaff; */
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

h1 {
	font-size: 5vw;
	text-align: center;
	color: #ffffff;
	text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8);
	font-family: 'Courier New', Courier, monospace;
	z-index: 2;
	position: absolute;
	top: 20%;
	left: 30%;
}

.icon {
	width: 2vh;
	height: 2vh;
	margin-left: 1vh;
	transform: translateY(20%);
}

.nav-right ul
{
	position: absolute;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 1vh;
	text-align: right;
	top : 0%;
	right: 0%;
}

.nav-right li
{
	margin: 0;
}

.nav-right a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 10px;
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	transition: background-color 0.3s;
}

.nav-right a:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.nav-center ul {
	position: fixed;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	gap: 1vh;
	flex-wrap: wrap;
	overflow: auto;
	top: 2%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 4;
	transition: opacity 0.3s, transform 0.3s;
	opacity: 1;
	max-width: 90vw;
}

.nav-center.hidden {
	opacity: 0;
	transform: translateY(-100%);
}

.nav-center li {
	margin: 0;
}

.nav-center li a {
	text-decoration: none;
	color: #939393;
	padding: 0px 20px;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	transition: background-color 0.3s, color 0.3s, transform 0.3s;
	font-weight: normal;
}

.nav-center li a:hover {
	color: #ffffff;
	background-color: transparent;
	transform: scale(1.1);
}

h2 {
	font-size: 3vw;
    font-size: clamp(1.5em, 3vw, 3em); /* 16px est la taille minimale, 3vw est la taille idéale, 48px est la taille maximale */
	text-align: center;
	color: #ffffff;
	text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8);
	margin-top: 40px;
	font-family: 'Courier New', Courier, monospace;
	transform: translateY(50px);

}


.cards-container {
	display: flex;
	gap: 2vh;
	padding: 10vh;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	background-color: #282828;
	padding: 2vh;
	border-radius: 2vh;
	border: 2px solid #000000;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	flex: 1;
	min-width: 25vh;
	max-width: 50vh;
	text-align: center;
	font-style: justify;
}


#header-container {
	position: relative; /* Positionnement relatif pour permettre le positionnement absolu des éléments enfants */
	width: 100%;
	height: 100vh; /* Hauteur du viewport pour couvrir toute la fenêtre */
	z-index: -1; /* Derrière les autres éléments */
	/* transform: translateX(-150px); */
}



.card h3 {
	margin-bottom: 2vh;
    font-size: clamp(0.8em, 1.2vw, 1.2em); /* 16px est la taille minimale, 1.2vw est la taille idéale, 24px est la taille maximale */
    color: #ffffff;
    text-decoration: underline;
}

.card h4 {
	font-size: 1.2vw;
    font-size: clamp(0.8em, 1.2vw, 1.2em); /* 16px est la taille minimale, 1.2vw est la taille idéale, 24px est la taille maximale */
	margin-bottom: 2vh;
	color: #ffffff;
	text-decoration: underline;
}

.card h5 {
	font-size: 1.2vw;
    font-size: clamp(0.8em, 1.2vw, 1.2em); /* 16px est la taille minimale, 1.2vw est la taille idéale, 24px est la taille maximale */
	margin-bottom: 2vh;
	color: #ffffff;
	text-decoration: underline;
}

.card h3 img {
	margin-right: 1vh;
	vertical-align: middle;
}

.card h5 img {
	margin-right: 1vh;
	vertical-align: middle;
}

.card p {
	font-size: 1vw;
    font-size: clamp(0.5em, 1vw, 1em); /* 16px est la taille minimale, 1.2vw est la taille idéale, 24px est la taille maximale */
	color: #666;
	text-align: justify !important;
	font-family: Arial, Helvetica, sans-serif;
}

h3 .icon {
	width: 1.5vw;
	width: clamp(1em, 1.5vw, 1.5em);
	height: auto;
	margin-left: 1vh;
}


h4 .icon {
	width: 1.5vw;
	width: clamp(1em, 1.5vw, 1.5em);
	height: auto;
	margin-left: 1vh;
}

h5 .icon {
	width: 1.5vw;
	width: clamp(1em, 1.5vw, 1.5em);
	height: auto;
	margin-left: 1vh;
}

.custom-paragraphe {
	color: #fff !important;
}


#myVideo {
	width: 90vw;
	height: 90vh;
}

#unity-texte {
    display: flex; /* Utiliser flexbox pour aligner les éléments horizontalement */
    align-items: center; /* Aligne les éléments verticalement au centre */
    position: absolute; /* Positionnement absolu par rapport au conteneur */
    top: 20%; /* Ajuster la valeur pour le positionnement vertical */
    left: 10%; /* Ajuster la valeur pour le positionnement horizontal */
}

#unity-texte h3 {
    font-size: 1.1vw;
    font-size: clamp(0.2em, 1.1vw, 1.1em);
    color: #000000;
    text-shadow: 2px 2px 5px rgba(255, 0, 0, 0.8);
    font-family: 'Courier New', Courier, monospace;
    margin-right: 10px; /* Espace entre le texte et l'image */
}

#unity-texte .icon {
    width: 50px; /* Ajustez la taille de l'image selon vos besoins */
    height: auto; /* Conserve les proportions de l'image */
}

.conteneur-jeux #unity-texte img {
    width : 10vw;
    height: auto;
    margin-left: 1vh;
}


.conteneur-jeux {
    position: relative;
}

#threejs-container {
    border-radius: 50px;
    border: 2px solid #000000;
    overflow: hidden;
    min-width: 300px;
    max-width: 2000px;
    width: 85%;
    height: 80vh;
    margin: 0 auto;
	transform : translateY(10%);
}

#videoJeux {
    position: absolute;
    top: 25%;
    left: 55%;
    right: 10%;
    bottom: 30%;
    
    text-align: center;
    border-radius: 30px;
    border: 2px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.9); 
    overflow: hidden; 
}

.jeux {
	width: 10%;
	display: absolute;
	justify-content: left;
	align-items: left;
	/* min-height: 300px; */
}

#videoJeux h6 {
	font-size: 1.5vw;
    font-size: clamp(0.5em, 1.5vw, 1.5em); /* 16px est la taille minimale, 1.2vw est la taille idéale, 24px est la taille maximale */
    color: #000000;
    text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8); 
    margin-bottom: 10px;
	font-family: 'Courier New', Courier, monospace;
}

#videoJeux p {
	text-align: justify;
	font-size: 1vw;
    font-size: clamp(0.5em, 1vw, 1em);
}

#videoJeux nav ul {

	list-style: none;
	padding: 10px 20px;
	position: relative; 
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	left: 0;
	margin-bottom: 10%;

}

#videoJeux nav ul li a {
    font-size : 1vw;
    font-size: clamp(0.3em, 1vw, 1em); /* 16px est la taille minimale, 1.2vw est la taille idéale, 24px est la taille maximale */
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8);
    /* padding: 10px 20px; */
    background-color: #333;
    display: inline-flex; /* Cela permet à l'icône et au texte de rester sur la même ligne */
    align-items: center; /* Cela aligne verticalement l'icône et le texte */
	justify-content: center;
	min-width: 5vh; /* Assure une largeur minimale pour le bouton */
    min-height: 5vh; /* Assure une hauteur minimale pour le bouton */
}

#videoJeux nav ul li a .icon {
    width: 1vw;
    height: auto;
    margin-left: 8px; /* Ajoute un espace entre le texte et l'icône */
}


h6 {
	font-size: 1.5vw;
    font-size: clamp(0.8em, 1.5vw, 1.5em); /* 16px est la taille minimale, 1.2vw est la taille idéale, 24px est la taille maximale */
    color: #000000;
    text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8);
    margin-bottom: 10px;
	font-family: 'Courier New', Courier, monospace;
}

p {
    font-size: 1vw;
    font-size: clamp(0.3em, 1vw, 1em); /* 16px est la taille minimale, 1.2vw est la taille idéale, 24px est la taille maximale */
    color: #ffffff;
    line-height: 1.6;
	text-align: left;
}

#unity-texte {
	font-size: 4vw;
	font-size: clamp(4em, 4vw, 4em);
	color: #ffffff;
	line-height: 1.6;
	text-align: left;
}

#unity-texte h3 .icon {
	width: 280px;
	height: 150px;
}

/* Conteneur principal */
/* Conteneur principal */
/* Conteneur principal */
/* Conteneur principal */
.container-unreal {
    position: relative;
    width: 80%;
    height: 90vh;
    margin: auto; /* Centré */
    display: flex;
    overflow: hidden;
    border-radius: 20px; /* Coins arrondis */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Ombre extérieure */
	margin-top: 20vh;
	border : 2px solid #000000;
	background: #000000;
}

/* Zone gauche */
.left-zone {
    flex: 1;
    background: linear-gradient(135deg, #7e0000, #000000); /* Dégradé bleu */
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%); /* Ajustement des angles */
    position: relative;
    margin: 0;
}

/* Zone droite */
.right-zone {
    flex: 1;
    background: linear-gradient(135deg, #000000, #ffcc00); /* Dégradé orange */
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%); /* Ajustement des angles */
    position: relative;
    margin: 0;
}


/* Boutons couvrant toute la zone */
.zone-button1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 2;
}

.zone-button2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 2;
}

/* Images couvrant toute la zone */
.zone-button1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	object-fit: contain;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* Texte des boutons */
.zone-button1 h6 {
    position: relative;
	top : -35%;
	left : -10%;
    z-index: 3;
    font-size: 2.5vw;
    font-size: clamp(0.6em, 2.5vw, 2.5em); /* 16px est la taille minimale, 1.2vw est la taille idéale, 24px est la taille maximale */
    font-weight: bold;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	font-family: 'Black Ops One', cursive;
}

.zone-button2 h6 {
	position: relative;
	top : 0%;
	left : 0%;
	z-index: 3;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Effet au survol */
.zone-button:hover img {
    opacity: 1; /* Image plus visible */
}

.premierJeux {
    width: 80%;
    margin: 20px auto; /* Centré avec un espacement autour */
    display: none;
    flex-direction: column;
    align-items: center; /* Centré horizontalement */
    justify-content: center; /* Centré verticalement */
    border-radius: 15px;
    padding: 20px;
    background: #f9f9f9; /* Couleur de fond douce */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre douce */

}

/* Conteneur d'images */
#ImagePremierJeux {
    display: none; /* Flex pour disposer les images en ligne */
    justify-content: center; /* Centré horizontalement */
    flex-wrap: wrap; /* Permet de faire passer les images à la ligne si nécessaire */
    align-items: center; /* Centré verticalement */
    gap: 20px; /* Espacement entre les images */
    width: 100%;
    margin-bottom: 20px;
	/* width: clamp(10em, 35vw, 35em); */
	margin-top: 2vh;
}

/* Style des images */
#ImagePremierJeux img {
	width: clamp(18em, 35vw, 35em);
    height: auto;
    border-radius: 8px;
    object-fit: cover; /* Assure que l'image reste bien proportionnée */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Ombre autour des images */
}


/* Conteneur des liens */
#LinkPremierJeux {
    display: none;
    flex-direction: column; /* Alignement des liens en colonne */
    gap: 2vh; /* Espacement entre les liens */
    width: 10vw; /* Ajuste la largeur au contenu */
	width: clamp(10em, 15vw, 15em);
    margin-left: 2vh;
    margin-top: 1vh; /* Espacement par rapport au dessus */
    align-items: left; /* Centre les liens horizontalement */
}

/* Style des liens */
#LinkPremierJeux a {
    font-size: 2vw;
    font-weight: bold;
    color: #0066cc; /* Bleu clair */
    text-decoration: none;
    padding: 10px 20px;
    background: linear-gradient(135deg, #7e0000, #000000); /* Utiliser "background" */
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
    display: inline-block; /* Pour éviter qu'ils ne prennent toute la largeur */
    text-align: left; /* Centrer le texte dans chaque lien */
}

/* Effet au survol des liens */
#LinkPremierJeux a:hover {
    color: #fff; /* Texte blanc */
}

#back {
    display: none; /* Par défaut, le bouton n'est pas visible */
    position: absolute;
    bottom: 20px; /* Distance par rapport au bas du conteneur */
    right: 20px; /* Distance par rapport au côté droit du conteneur */
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    font-size: 2vw;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    font-family: 'Black Ops One', cursive; /* Assurez-vous que la police est bien importée */
}

#back button {
    background: linear-gradient(135deg, #7e0000, #000000); /* Utiliser "background" */
    border: none;
    color: #ffffff;
    font-size: 1.5vw;
    font-family: 'Black Ops One', cursive; /* Assurez-vous que la police est bien importée */
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}








#cursor-light {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px; /* Taille de la brume */
    height: 100px; /* Taille de la brume */
    background-color: transparent; /* Conteneur transparent */
    border-radius: 50%; /* Forme ronde */
    pointer-events: none; /* Éviter que l'élément ne capture les événements du curseur */
    filter: blur(50px); /* Floute l'élément pour créer l'effet de brume */
    box-shadow: 0 0 100px 50px rgba(255, 255, 255, 0.359); /* Brume blanche */
    z-index: 9999; /* Assure que l'élément est au-dessus de tout */
    transform: translate(-50%, -50%); /* Centre la brume sur le curseur */
}

/* Style pour le footer */
footer {
    background-image: url('image/footerv3.jpg');
    background-size: cover; /* L'image couvre toute la zone */
    background-repeat: no-repeat; /* Empêche la répétition */
    background-position: center; /* Centre l'image dans le conteneur */
    color: #ffffff;
    /* text-align: center; */
    height: 60vh;
    width: 100%;
    margin-top: 20vh;
    position: relative;
    z-index: 0;
}

#contact-container {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}

#contact-container h3 {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8);
    text-align: left;
    font-size: clamp(1em, 1.5vw, 1.5em);
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 300; */
    margin: 0;
    margin-left: 2.5%;
	margin-top: -2%;
}

#contact-container h4 {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8);
    text-align: center;
    font-size: clamp(1.2em, 2vw, 2em);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5vh;
    text-decoration: underline; /* Ajoute le soulignement */
    text-decoration-color: rgba(255, 242, 0, 0.772); /* Change la couleur du soulignement en violet */
    text-decoration-thickness: 3px; /* Épaisseur du soulignement */
}

#contact-container h5 {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8);
    text-align: center;
    font-size: clamp(0.8em, 1.3vw, 1.3em);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 10px 0;
    width: 50%;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 10vh;
}

#contact-container h2 {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8);
    text-align: left;
    font-size: clamp(0.4em, 1.2vw, 1.2em);
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 300; */
    /* margin: 10px 0; */
    /* width: auto; */
	/* justify-content: left; */
    margin-left: 80%;
	margin-bottom: 20%;
	/* transform: translateY(-50%); */
}

footer nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments horizontalement */
    justify-content: center; /* Centre les éléments verticalement */
    margin: 0;
    height: 100%;
	margin-top: 5vh;
}

footer nav ul li a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8);
    padding: 10px 20px;
    /* background-color: #1e1e1e; */
    font-size: clamp(1.2em, 1.7vw, 1.7em);
    font-family: Arial, Helvetica, sans-serif;
	/* text-align: center; */
	justify-content: center;
	
}


#panel {
    opacity: 0;
    padding: 20px;
    border: 1px solid #000000;
    background-color: #424242;
    width: 80%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%; /* Hors de l'écran */
    z-index: 9999;
	transform: translateX(-100%);
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#panel h5 {
	color: #ffffff;
	text-shadow: 2px 2px 5px rgba(0, 170, 255, 0.8);
	font-size: 1.5vw;
	font-size: clamp(0.2em, 1.5vw, 1.5em); /* 16px est la taille minimale, 1.2vw est la taille idéale, 24px est la taille maximale */
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	margin-bottom: 20%;
}

#panel.show {
    visibility: visible;
    opacity: 1;
    left: 0%;
    transform: translateX(0); /* Ajout d'une transformation */
}

#toggleButton {
	display: none;
    background-color: #545454; /* Bleu foncé */
    border-radius: 20px;
    width: 50px; /* Largeur du bouton */
    height: 50px; /* Hauteur du bouton */
    background-image: url('image/menu.png'); /* Image de fond */
    background-size: 40px 40px; /* Ajuste la taille de l'image */
    background-position: center; /* Centre l'image dans le bouton */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    color: white; /* Couleur du texte (si nécessaire) */
    font-size: 2vw;
    cursor: pointer;
    position: fixed;
    top: 2.5%;
    left: 2.5%;
    z-index: 9998;
    text-align: center; /* Centre le texte (si tu en as) */
    line-height: 50px; /* Centre le texte verticalement */
	/* border: 1px solid #000000 */

}

#closeButtonPanel {
    background-color: #545454; /* Bleu foncé */
    width: 50px; /* Largeur du bouton */
    height: 50px; /* Hauteur du bouton */
	background-image: url('image/menu.png'); /* Image de fond */
    border-radius: 20px;
    background-size: 40px 40px; /* Ajuste la taille de l'image */
    background-position: center; /* Centre l'image dans le bouton */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    color: white; /* Couleur du texte (si nécessaire) */
    font-size: 2vw;
    cursor: pointer;
    position: fixed;
    display: block;
    text-align: center; /* Centre le texte (si tu en as) */
    line-height: 50px; /* Centre le texte verticalement */

	padding: 10px 20px;
    font-size: 2vw;
	cursor: pointer;
	position: fixed;
	top: 2.5%;
	/* left: 1%; */
	z-index: 9999;
	/* border: 1px solid #000000 */
}


.aria_baniere {
	display: none;
}

.nav-centerV2 ul {
	position: fixed;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: left;
	gap: 1vh;
	flex-wrap: wrap;
	overflow: auto;
	z-index: 4;
	transition: opacity 0.3s, transform 0.3s;
	opacity: 1;
	max-width: 90vw;
	flex-direction: column;
	top: 20%;
}

.nav-centerV2.hidden {
	opacity: 0;
	transform: translateY(-100%);
}

.nav-centerV2 li {
	margin: 0;
}

.nav-centerV2 li a {
	text-decoration: none;
	color: #000000;
	padding: 0px 20px;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	transition: background-color 0.3s, color 0.3s, transform 0.3s;
	font-weight: normal;
}

.nav-centerV2 li a:hover {
	color: #ffffff;
	background-color: transparent;
	transform: scale(1.1);
}

.projects42 {
    position: relative;  
    background-color: #282828;
    padding: 3vh;
    border-radius: 2vh;
    border: 2px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 25vh;
    max-width: 50vh;
    text-align: left;
    font-style: justify;
    /* Supprimer les propriétés height pour laisser le contenu définir la taille */
    height: auto;  /* Ajuste la hauteur en fonction du contenu */
    max-height: none;  /* Empêche la hauteur maximale de restreindre le contenu */
}

.projects42 nav ul {
    position: absolute;  /* Absolu pour fixer l'icône dans le coin */
    bottom: 10px;        /* Ajuste la distance du bas */
    left: 10px;          /* Ajuste la distance du côté gauche */
    margin: 0;
    padding: 0;
    display: flex;
    gap : 10px;
}

.projects42 nav ul .icon {
    width: 2.5vw;
    width: clamp(1.5em, 2.5vw, 2.5em);
    height: auto;
    display: inline-block;
    z-index: 10;  /* S'assurer que l'icône est au-dessus des autres éléments */
}

.ecole-42 {
	/* display: flex;
	flex: 1;
	margin-top: 20vh;
	gap : 5vh; */
	/* padding: 20vh; */
	/* flex-wrap: wrap; */
	/* justify-content: center; */
	/* height: 40vw;
	margin-left: 10vw;
	margin-right: 10vw; */
	display: flex;
	gap: 4vh;
	padding: 10vh;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10vh;
	/* height: 70vw; */
}

.ecole-42 h3 {
	margin-bottom: 2vh;
	font-size: clamp(0.8em, 1.5vw, 1.5em); 
	color: #ffffff;
	text-decoration: underline;
	margin-top: 4vh;
	flex-direction: column;
}

.button42Project {
	background-color: #ffffff;
	padding: 2vh;
	border-radius: 2vh;
	border: 2px solid #252525;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	flex: 1;
	/* min-width: 25vh;
	max-width: 42vh; */
	width: 100%;
	height: 20%;
	text-align: center;
	font-style: justify;
	position: relative; 
	overflow: hidden; /* Masque le débordement lors du zoom */
}

.button42Project::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 180%;; /* Monte jusqu'à la moitié du bouton */
    background: linear-gradient(to top, rgba(37, 37, 37, 1), transparent);
    pointer-events: none; /* Empêche toute interaction avec la brume */
    transition: opacity 0.3s ease; /* Pour ajouter une légère transition si nécessaire */
}

.ecole-42 p {
	font-size: 1.2vw;
	font-size: clamp(0.5em, 1.2vw, 1.2em);
	color: #ffffff;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 15vh;
}

#projet_cub3d {
    background-image: url('image/cub3d.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
    transition: background-size 0.5s ease; /* Transition douce */

}

#projet_minishell {
	background-image: url('image/shell.PNG');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	transition: background-size 0.5s ease; /* Transition douce */
}

#projet_Solong {
	background-image: url('image/pacman\ \(1\).png');
	background-size: 100%;
	/* background-size: cover; */
	background-position: center;
	background-repeat: no-repeat;
	transition: background-size 0.5s ease; /* Transition douce */

}

/* Zoom sur l'image au survol */
#projet_cub3d:hover {
    background-size: 120%; /* Zoom à 120% */
}

#projet_minishell:hover {
	background-size: 120%; /* Zoom à 120% */
}

#projet_Solong:hover {
	background-size: 120%; /* Zoom à 120% */
}


.cards-containert {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


#lang-text {
    color: #ffffff;
    font-size: clamp(1em, 1.5vw, 1.5em); /* 16px est la taille minimale, 1.2vw est la taille idéale, 24px est la taille maximale */
    font-family: Arial, Helvetica, sans-serif;
}

.lang-list {
	display: none;
    position: absolute;
	top: 50%;
    left: 50%;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    list-style: none;
	z-index: 9999;
	width: 30vh;
	transform: translate(-50%, -50%);
	height: 30vh;
	text-align: center;
}

.lang-item {
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    cursor: pointer;
}

.lang-item:hover {
    background-color: #444;
}

.styled-button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    display: inline-block; /* Similaire à un lien */
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: none; /* Retirer les bordures par défaut du bouton */
    cursor: pointer; /* Donner une indication visuelle qu'il est cliquable */
    transition: background-color 0.3s, transform 0.3s; /* Augmenté à 0.5s */
}

.styled-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
	transform: scale(1.1);
}

/* Supprimez le style par défaut du bouton */
.styled-button:focus {
    outline: none;
}





@media screen and (max-width: 768px) {

	.nav-center ul {
		display: none;
	}

	#toggleButton {
		display: block;
		border: 1px solid #000000;
	}
	#closeButtonPanel {
		border: 1px solid #000000;
	}
	#videoJeux {
		position: absolute;
		top: 30%;
		left: 25%;
		right: 25%;
		bottom: 25%;
	}
	#cursor-light {
		display: none;
	}
	.container-unreal {
		height: 100vh;
	}
    .container-unreal {
        flex-direction: column; /* Passe en colonnes */
    }

    .left-zone, .right-zone {
        flex: none; /* Les zones ne prennent plus 50% */
        width: 100%; /* Chaque zone occupe toute la largeur */
        height: 50%; /* Chaque zone occupe 50% de la hauteur */
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* Rectangle plein */
    }
}
